<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.com.ehealthassist.ehealthassist">

    <uses-sdk android:minSdkVersion="14" />

    <uses-feature android:name="android.hardware.fingerprint"
        android:required="true"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="sg.com.ehealthassist.ehealthassist.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="sg.com.ehealthassist.ehealthassist.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.intent.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="sg.com.ehealthassist.ehealthassist.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".Other.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ehealthassist"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ActivitySplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />



        <activity
            android:name=".ActivityHome1"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityHome"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Account.ActivityCreateAccount"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Account.ActivityLogIn"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivitty"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Account.ActivitySingup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity android:name=".Account.ActivityForgotPwd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_forgot_pwd"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Queue.ActivityQueueflow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name=".Appointment.ActivityApptFlow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Account.ActivityMyAccountInfo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Alarm.ActivityAlarmshow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Medication.ActivityMedicalDispense"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profiles.ActivityMedProfileList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Payment.ActivityEReceiptLists"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Events.ActivityEvents"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Queue_Appt.ActivityQueue_Appoint"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Clinic.ActivityNearby_panel"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Haze.ActivityHazeInfo" />
        <activity android:name=".Clinic.ActivityPreferredClinic"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Account.ActivityPIN"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySetting"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Clinic.ActivitySearchClinicDetailed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Account.ActivitySetupPIN"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Privacy.ActivityTNCWebView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Account.ActivitySMSToken"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Events.ActivityEventDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <service android:name=".GDAA.GDAAService" />
        <service
            android:name=".GCM.GcmIntentService"
            android:exported="false" />

        <receiver
            android:name=".GCM.GcmBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="sg.com.ehealthassist.ehealthassist" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Alarm.AlarmService"
            android:enabled="true" />

        <receiver android:name=".Alarm.AlarmReceiver" />

        <service
            android:name=".Alarm.ReminderService"
            android:enabled="true" />

        <receiver android:name=".Alarm.ReminderReceiver"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profiles.ActivityMedicalProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Payment.ActivityEReceiptDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Medication.ActivityAlarmReminder"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />
        <activity android:name=".Appointment.ActivityAppointment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Appointment.ActivityBookAppt"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Appointment.ActivityDialogAppointment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_dialog_appointment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".Queue.ActivityQueueDetailDialogs"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_queue_detail_dialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".Appointment.ActivityEApptCardDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Clinic.ActivityClinicDeatail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Clinic.ActivityClinicWebsite"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Doctors.ActivityDoctor_On_Duty"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profiles.Activitydownloadprofilestatus"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Queue.ActivityRegisterQueue"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Clinic.ActivityManualClinicDialog"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_manual_clinic_dialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".ActivityMap" />
        <activity android:name=".Medication.ActivityMedDispenseDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".eDocument.ActivityEDocument"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eDocument.ActivityShowCaptureImage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eDocument.ActivityRating"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".eDocument.ActivityRatingClinic"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messages.ActivityMessageList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messages.ActivityMessageDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />


    </application>

</manifest>